body {
 https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjWiLK8xIHVAhVM7IMKHQw0CnkQjRwIBw&url=http%3A%2F%2Fwww.dudaite.com%2Fmagic-the-gathering-wallpaper-planeswalker-wallpapers-photo%2Fmagic-the-gathering-wallpaper-planeswalker-wallpapers-photo-with-wallpaper-high-resolution%2F&psig=AFQjCNG0Ds-XTA9bizwTin4jb39D79jKxA&ust=1499872863072977 ;

}


.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Satisfy', cursive;

}

 .index-divs {
  width: 50%;
  height: 200px;
  display: inline-block;

}


#div-about{
  background: url('backgroundaboutme.gif') no-repeat top center;
  height:500px;

}
#div-Interest{
  background: url('backgroundinterest.gif') no-repeat center center;
  height:300px;
  width: 500px;
}

#div-others{
  background: url('backgroundothers.gif') no-repeat center;
  height:400px;
  width:500px;
}
a {
  text-decoration: none;
  font-size: 50px;
  color: white;
}
h1 {
  font-size: 80px;
  color:  darkgrey;
  text-shadow: 5px 5px 3px black;
}
