body {
 background-image: url("http://www.dudaite.com/i/2016/12/space-stars-wallpaper-iphone.jpg");

}


.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Satisfy', cursive;

}

 .index-divs {
  width: 50%;
  height: 200px;
  display: inline-block;

}


#div-about{
  background: url('backgroundaboutme.gif') no-repeat top center;
  height:500px;

}
#div-Interest{
  background: url('backgroundinterest.gif') no-repeat center center;
  height:300px;
  width: 500px;
}

#div-others{
  background: url('backgroundothers.gif') no-repeat center;
  height:400px;
  width:500px;
}
a {
  text-decoration: none;
  font-size: 50px;
  color: white;
}
h1 {
  font-size: 80px;
  color:  darkgrey;
  text-shadow: 5px 5px 3px black;
}
